<!-- app/views/lists/_lists_grid.html.erb -->
<% if lists.any? %>
  <div id="lists-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% lists.each do |list| %>
      <%= turbo_frame_tag "list_card_#{list.id}" do %>
        <%= render "lists/list_card", list: list, current_user: local_assigns[:current_user] %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render "lists/empty_state" %>
<% end %>