<!-- app/views/lists/_lists_grid.html.erb -->
<% if lists.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% lists.each do |list| %>
      <%= render "lists/list_card", list: list %>
    <% end %>
  </div>
<% else %>
  <%= render "lists/empty_state" %>
<% end %>